<div id="prize_information">
  <h1>Честито!</h1>
  <p>
    Вие спечелихте<br/>
    <strong><%= prize %></strong><br/>
    в магазин Мания - Перник.<br/>
    Заповядайте на място на адрес:<br/>площад "Кракра" №17,<br/>
    за да я получите.
  </p>
</div>