<h1>Правила за участие</h1>

<%= link_to 'Назад', wheel_path, id: 'back_button' %>

<p>"Колелото на късмета" е Фейсбук игра, която се провежда във фен страницата на магазин "Мания" град Перник. Участниците в нея имат шанса да спечелят отстъпки от 15 до 30 процента или безплатна дреха. Условия и параметри на играта:</p>

<ul>
	<li>Намалението не важи за предпремиери.</li>
	<li>Играта ще бъде активна до 28.02.2014г.</li>
	<li>Печалбите от играта ще могат да бъдат получени до 31.03.2014г.</li>
	<li>Печалбите важат за магазин "Мания" град Перник.</li>
	<li>Всеки потребител може да участва еднократно в играта.</li>
	<li>Намалението важи само за дрехи.</li>
	<li>Намалението не се комбинира с други промоции или отстъпки.</li>
	<li>За да получи наградата си, всеки потребител трябва да предостави кодът, който е получил след участието си на касата в магазина.</li>
</ul>
