<h1>Правила за участие</h1>

<%= link_to 'Назад', wheel_path %>

<p>"Колелото на късмета" е Фейсбук игра провеждана в страницата на магазин "Мания" град Перник, участниците на която могат да спечелят отстъпки от 15 до 30 процента или безплатна дреха. Условия и параметри на играта:</p>

<ul>
	<li>Намалението не важи за предпремиера.</li>
	<li>Играта ще бъде активна до 28.02.2014г.</li>
	<li>Печалбите от играта ще могат да бъдат получени до 31.03.2014г.</li>
	<li>Печалбите важат за магазин "Мания" град Перник.</li>
	<li>Всеки потребител може да участва еднократно в играта.</li>
	<li>Намалението важи само за дрехи.</li>
	<li>Намалението не се комбинира с други промоции или отстъпки.</li>
	<li>За да полуци наградата си, всеки потребител трябва да предостави на касата на магазина кодът, който ще получи след участие в играта.</li>
</ul>
