body {
  margin: 0px;
  padding: 0px;
  background: image-url('bg_pattern.png');
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

#wrapper {
  position: relative;

  width: 800px;
  height: 600px;

  margin: 0px auto;

  #logo{
    position: absolute;
    top: 410px;
    left: 565px;

    z-index: 10;
  }

  #wheel_container {
    position: absolute;
    top: 0px;
    left: 0px;

    svg {
      position: absolute;
      top: -40px !important;
      left: -40px !important;
    }

    #wheel_center{
      position: absolute;
      top: 260px;
      left: 260px;

      z-index: 10;

      margin-top: -49px;
      margin-left: -49px;
    }

    #win_sector {
      position: absolute;
      top: 260px;
      left: 490px;

      z-index: 10;

      margin-top: -23px;
    }
  }

  #spin_button {
    position: absolute;
    top:  235px;
    right: 35px;

    width: 189px;
    height: 52px;

    background: image-url('spin_button.png');

    &:hover {
      background: image-url('spin_button_hover.png');      
    }

    &:active {
      background: image-url('spin_button_pressed.png');      
    }
  }

  #terms_button {
    position: absolute;
    top: 287px;
    right: 35px;
    width: 189px;
    height: 25px;
    line-height: 25px;
    text-decoration: underline;
    text-align: center;
  }

  #terms_footnote {
    font-size: 12px;
    position: absolute;
    top: 316px;
    right: 25px;
    width: 210px;
    line-height: 12px;
    text-align: center;
    color: #666;
  }

  #prize_information {
    position: absolute;
    top: 30px;
    left: 300px;

    width: 460px;
    height: 300px;

    font-size: 22px;
    font-weight: bold;
    text-align: center;

    h1 {
      font-size: 60px;
      padding: 0px;
      margin: 0px;
    }

    p {
      margin: 0px;
      padding: 0px;
    }

    strong {
      font-size: 40px;
    }

    #discount_code {
      position: relative;
      border: 1px solid #333;
      background-color: #fff;

      display: block;

      margin-top: 30px;

      padding: 10px 30px;

      .sup-info {
        position: absolute;
        top: -15px;
        left: 0px;
        font-size: 13px;
        font-weight: normal;
      }

      .sub-info {
        position: absolute;
        bottom: -15px;
        left: 0px;
        font-size: 13px;
        font-weight: normal;
      }

      span {
      }
    }
  }

  #like_to_play {
    position: absolute;
    top:    5px;
    right: 35px;
  }
}

.wheel.terms #wrapper {
  width: 500px;

  h1 {
    text-align: center;
  }
}

.wheel.already-played #wrapper {
  h1 {
    margin-top: 150px;
    text-align: center;
  }

  #logo {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -100px;
  }
}